# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Environment variables / secrets
.env
.env.*

# IDE / editor
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Python tools
.pytest_cache/
.mypy_cache/

# Logs
*.log

# Generated ML files
models/*.pkl
models/*.joblib

# Large/generated datasets
dataset/generated/